KIR_project/
sakauekir_v1_0_0/
ping_20220527/
ping_wgs/
t1k_v1_0_0/
t1k_v1_0_1/
gatkir/
kirkpi/
kpi_v1_1_1/
sequenceTubeMap/
art_illumina
KIR_v*/
graphkir_alpha

.nextflow*
work/
example_index/
example_data/
data_real/
slurm_io/
data
index
linnil1_syn/

namepipe/
pyHLAMSA/

__pycache__/
*.egg-info/
.pylintrc
.*.swp

hg19.refGene.gtf.gz
hg19.refGene.kir.gtf
hg38.refGene.gtf.gz
hg38.refGene.kir.gtf
ncbi_kir_search_result1.gene.json
kelvin_kir.csv
kelvin_kir_v0_2.csv
kelvin_kir_v1_0.csv
hprc_summary.csv
hprc_summary_v0_2.tsv
hprc_summary_v1_0.tsv
