T1K/
KIR_project/
PING20220527/
gatkir/
kirkpi/
sequenceTubeMap/
art_illumina
KIR_v2100/
KIR_v271/
KIR_v290/
example_index/
example_data/

namepipe/
pyHLAMSA/

__pycache__/
*.egg-info/
.pylintrc
.*.swp
