#!/usr/bin/bash
#SBATCH -A MST109178
#SBATCH -J {name}
#SBATCH -p ngs7G
#SBATCH -n 1
#SBATCH --mem=7G
#SBATCH -o {name}.std.log
#SBATCH -e {name}.err.log

cd /home/linnil1tw/kir/
module load pkg/Anaconda3 libs/singularity
conda activate .conda/

which conda
conda list

date
{cmd}
date
